<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.continueing.photoco"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.continueing.photoco.reuse.etc.PhotocoApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.continueing.photoco.ui.login_page.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.account_page.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.findingjob_page.findingjob_detail_page.FindingJobDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.reuse.page.location_page.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myrequest_page.myrequest_newrequest_page.MyNewRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.setting_page.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myphoto_page.myphoto_detail_page.MyPhotoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myrequest_page.myrequest_newrequest_page.myrequest_newrequest_duration_page.MyNewRequestDurationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.joblist_page.joblist_detail_page.JobListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.cart_page.cart_detail_page.CartDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myphoto_page.myphoto_newphoto_page.MyPhotoNewPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.marketplace_page.marketplace_detail_page.MarketplaceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myrequest_page.myrequest_newrequest_page.myrequest_newrequest_category_page.MyNewRequestCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myrequest_page.myrequest_newrequest_page.myrequest_newrequest_tag_page.MyNewRequestTagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.continueing.photoco.ui.menu.myrequest_page.myrequest_detail_page.MyRequestDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
    </application>

</manifest>